---
import DiscoveryFlightCTA from "../../components/DiscoveryFlightCTA.astro";

import ContactUs from "../../components/ContactUs.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Location from "../../components/Location.astro";

import { fleet } from "../../data/fleet";
import { simulators } from "../../data/simulators";
import FleetCard from "../../components/FleetCard.astro";
import SimulatorCard from "../../components/SimulatorCard.astro";
---

<BaseLayout>
  <header
    class="relative h-screen-3/4 bg-our-fleet bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <div class="absolute bg-black/20 w-full h-full z-0"></div>
    <div
      class="text-white text-center z-10 flex flex-col items-center gap-4 px-5"
    >
      <h1 class="text-5xl font-bold tracking-tighter">The Red Arrow Fleet</h1>
      <h2 class="text-3xl tracking-wide">
        Our extensive fleet available for flight training and rentals
      </h2>
      <button class="btn-red">Fly High</button>
    </div>
  </header>

  <section
    class="flex flex-col items-center px-10 bg-gradient-to-br from-white to-gray-200 py-10"
  >
    <h2 class="text-3xl font-semibold text-center tracking-tight">Our Fleet</h2>
    <h3 class="pt-10 text-xl italic">
      All airplanes are subject to fuel surcharge. Prices may change, contact us
      for current prices. Prices do not include tax.
    </h3>

    {fleet.map((plane) => <FleetCard plane={plane} />)}
  </section>

  <section
    class="flex flex-col items-center px-10 bg-gradient-to-br from-main-red to-red-900 py-10 text-white"
  >
    <h2 class="text-3xl font-semibold text-center tracking-tight">
      Our Simulators
    </h2>
    <h3 class="pt-10 text-xl italic">
      Prices may change, contact us for current prices. Prices do not include
      tax.
    </h3>

    {simulators.map((simulator) => <SimulatorCard simulator={simulator} />)}
  </section>

  <Location bgColorRed={false} />

  <DiscoveryFlightCTA />

  <ContactUs />
</BaseLayout>
