---
import DiscoveryFlightCTA from "../../components/DiscoveryFlightCTA.astro";
import ContactUs from "../../components/ContactUs.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import TomasPeralta from "../../../public/img/our-team/tomas-peralta.webp";
---

<BaseLayout>
  <header
    class="relative h-screen-3/4 bg-our-team bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <div class="absolute bg-black/50 w-full h-full z-0"></div>
    <div class="text-white text-center z-10">
      <h1 class="text-5xl font-bold tracking-tighter">
        The People Behind Red Arrow
      </h1>
      <h2 class="text-3xl pt-5 tracking-wide">
        Our elite flight instruction team in Santa Teresa, NM
      </h2>
      <button class="mt-5 btn-red">Meet Red Arrow</button>
    </div>
  </header>

  <section
    class="flex flex-col items-center px-10 bg-gradient-to-br from-white to-gray-200 py-10"
  >
    <h2 class="text-3xl font-semibold text-center tracking-tight">
      Leadership Team
    </h2>

    <div
      class="flex flex-col p-5 gap-5 lg:flex-row my-10 rounded-lg shadow-lg shadow-gray-500 text-white bg-gradient-to-bl from-gray-800 to-black"
    >
      <div
        class="flex flex-col rounded-lg overflow-hidden gap-3 max-w-md lg:w-64 lg:min-w-64"
      >
        <img
          src={TomasPeralta.src}
          class="aspect-square object-cover w-full rounded-lg"
          alt="Founder and Owner Tomas Peralta at Red Arrow Flight Academy"
        />
        <div class="p-3 rounded-lg bg-white text-black">
          <h3 class="text-xl font-semibold">Tomas Peralta</h3>
          <p class="italic">Chief Flight Instructor | Founder</p>
          <p class="text-sm">
            Certificates & Ratings: ATP, FAA Designated Pilot Examiner,
            Commercial ASEL, AMEL, CFI, CFII
          </p>
        </div>
      </div>
      <div class="max-w-md lg:max-w-3xl flex flex-col justify-between">
        <div class="flex flex-col gap-2">
          <p class="text-sm">
            Tomas Peralta is the Chief Flight Instructor at Red Arrow Flight
            Academy, bringing with him over 20 years of experience and an
            extensive knowledge of aviation. Mr. Peralta fostered a love for
            flying, thanks in part to his family’s involvement in aviation. His
            dad, mom, and sister all hold private pilot certificates, so he
            began his training in 2001 while attending college. He went on to
            earn his Bachelor of Science in Industrial Engineering from ITESM in
            Monterrey, Mexico, as well as a Master of Science in Industrial
            Engineering and an MBA from Georgia Institute of Technology.
          </p>
          <p class="text-sm">
            After returning to the El Paso area, Mr. Peralta became a founding
            member of Red Arrow Flight Academy. He holds an ATP single-engine
            land certificate, a commercial multi-engine aircraft certificate,
            and a Cirrus Vision Jet Type Rating. In addition, he is a CFI and
            CFII. Mr. Peralta has flown and owned a variety of aircraft for
            personal, training, and corporate flying purposes. Mr. Peralta’s
            extensive experience and expertise have earned him roles as both a
            FAASTeam Representative and an ABQ FSDO Designated Pilot Examiner.
          </p>
          <p class="text-sm">
            He is also a dedicated warbird enthusiast and serves as a board
            member at the War Eagles Air Museum, where he shares his passion for
            aviation history. As an active volunteer, he has assisted with the
            maintenance and operation of a TF-51 Mustang. Mr. Peralta is also
            the President of the EAA (Experimental Aircraft Association) 1570
            Chapter. In the wintertime, Mr. Peralta is a certified National Ski
            Patroller and Outdoor Emergency Care instructor. He is often
            accompanied by his trusty German Shepard sidekick, Belka.
          </p>
        </div>
        <div>
          <p class="text-end font-semibold text-main-red">
            tomas@flyredarrow.com
          </p>
          <p class="text-end font-semibold">(575) 201-6160 ext. 702</p>
        </div>
      </div>
    </div>

    <a href="/flight-programs/training-courses" class="">
      <div class="btn-red">Join the Family</div>
    </a>
  </section>

  <section
    class="flex flex-col-reverse items-center px-10 lg:flex-row bg-gradient-to-br from-main-red to-red-900 text-white"
  >
    <div class="lg:w-1/2 flex flex-col items-center py-10 h-[30rem] w-full">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3388.202989003412!2d-106.70098032426517!3d31.873896774053986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86ddfb9c5519af0d%3A0x84f5ecbe927b654d!2sRed%20Arrow%20Flight%20Academy!5e0!3m2!1sen!2sar!4v1706029855988!5m2!1sen!2sar"
        class="w-full h-full max-w-2xl"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="lg:w-1/2 flex flex-col items-center py-10">
      <div class="max-w-2xl px-10">
        <h2 class="text-3xl font-semibold text-center tracking-tight">
          Our Location
        </h2>
        <h3 class="pt-10 text-xl italic">
          Located at Dona Ana Country International Jetport (KDNA) in Santa
          Teresa, New Mexico, U.S.A
        </h3>
        <div class="text-gray-100 tracking-wider">
          <p class="pt-10">
            Embark on the exciting journey to becoming a pilot with Red Arrow
            Flight Academy by following these structured steps:
          </p>
          <p class="pt-10">
            By taking a structured approach to pilot training, you’ll soon be up
            in the air on your own, able to reach further than ever before.
          </p>
        </div>
        <a href="/discovery-flight" class="">
          <div class="btn-black mt-10">Visit the Us Today</div>
        </a>
      </div>
    </div>
  </section>

  <DiscoveryFlightCTA />

  <ContactUs />
</BaseLayout>
