---
import ContactUs from "../../components/ContactUs.astro";
import InternationalProgramSteps from "../../components/InternationProgramSteps.jsx";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ScheduleCallCTA from "../../components/ScheduleCallCTA.astro";
---

<BaseLayout
  pageTitle="International Resources | Red Arrow Flight Academy"
  pageDescription="Explore Red Arrow Flight Academy's comprehensive international resources. Learn how to obtain an M-1 Visa for flight training and understand the process of converting your foreign pilot license. Elevate your aviation journey with step-by-step guidance from experts in the field."
  pageKeywords="International flight training, M-1 Visa process, flight academy for international students, foreign pilot license conversion, aviation education for international students, flight training in the U.S.A., Red Arrow Aviation programs, TSA requirements for international students, FAA Form 8060-71, aviation accommodation and travel tips"
>
  <!-- Header -->
  <header
    class="relative h-screen-3/4 bg-international-program bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <!-- bg-overlay to darken -->
    <div class="absolute bg-black/50 w-full h-full z-0"></div>
    <!-- Text -->
    <div
      class="text-white text-center z-10 flex flex-col items-center gap-4 px-5"
    >
      <h1 class="text-5xl font-bold tracking-tight">
        International Programs & Services
      </h1>
      <h2 class="text-3xl tracking-wide">
        Obtain your M-1 visa and convert your foreign pilot license
      </h2>
      <a href="/enrollment">
        <button class="btn-red">Start Now</button>
      </a>
    </div>
  </header>

  <section
    class="flex flex-col items-center bg-gradient-to-br from-white to-gray-200"
  >
    <div class="max-w-5xl px-10 lg:w-1/2 flex flex-col items-center py-10 pb-0">
      <h2 class="text-3xl font-semibold text-center tracking-tight">
        M-1 Visa for International Students
      </h2>
      <h3 class="pt-5 text-xl">
        How to Obtain an M-1 Visa with Red Arrow Flight Academy.
      </h3>
    </div>

    <InternationalProgramSteps client:visible />
  </section>

  <section
    class="flex flex-col items-center bg-gradient-to-br from-main-red to-red-900 text-white"
  >
    <div class="max-w-5xl px-10 lg:w-1/2 flex flex-col items-center py-10">
      <h2 class="text-3xl font-semibold text-center tracking-tight">
        Convert Your Foreign Pilot License
      </h2>
      <h3 class="pt-5 text-xl">
        Follow these steps to fly in the United States:
      </h3>
      <div class="tracking-wider">
        <ol class="pt-10 list-decimal pl-10 flex flex-col gap-2">
          <li class="font-medium">
            Create an
            <a
              href="https://iacra.faa.gov/IACRA/Default.aspx"
              class="text-blue-600 hover:underline hover:text-blue-800 font-medium"
              target="_blank"
              rel="noopener noreferrer">IACRA account</a
            >.
          </li>
          <li class="font-medium">
            Fill out <a
              href="/files/faa-form-8060-71.pdf"
              download="faa-form-8060-71.pdf"
              class="text-blue-600 hover:underline hover:text-blue-800 font-medium"
              >FAA Form 8060-71</a
            > in IACRA (Verification of Authenticity of Foreign License and Medical
            Certification Form).
          </li>
          <li class="font-medium">
            Submit completed forms and required documents (Private Pilot
            Certificate/License and Medical Certificate) to IACRA.
          </li>
          <li class="font-medium">
            Receive a Letter of Authenticity and Obtain an FAA Medical
            Certificate if you do not already have one from your country of
            issuance.
          </li>
          <li class="font-medium">
            Submit an 8710 form through IACRA after you receive a Letter of
            Authenticity.
          </li>
          <li class="font-medium">
            Schedule an appointment with the FSDO or an FAA Designated Pilot
            Examiner, bringing along your passport, Identification Card, Pilot
            License, and Medical Certificate from either the FAA or the country
            of original issuance.
          </li>
          <li class="font-medium">
            The FSDO or DPE will verify all documentation and issue a temporary
            airmen certificate based on your foreign license.
          </li>
        </ol>
      </div>
    </div>
  </section>

  <!-- Call to Action Banner -->
  <ScheduleCallCTA />

  <!-- Contact Us Form -->
  <ContactUs />
</BaseLayout>
