---
import ContactUs from "../../components/ContactUs.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ScheduleCallCTA from "../../components/ScheduleCallCTA.astro";
---

<BaseLayout
  pageTitle="Military / Rotor Transition Training | Red Arrow Flight Academy"
  pageDescription="Explore our Military / Rotor Transition Program at Red Arrow Flight Academy. Add-on your Military / Rotor Transition Rating with us. Learn about the COOL Program. Enroll today and transition seamlessly from military to civilian aviation."
  pageKeywords="Military Rotor Transition, Military Flight Training, Rotor Transition Program, COOL Program, Army Credentialing Assistance, Military Aviation Training, RTAG"
>
  <!-- Header -->
  <header
    class="relative h-screen-3/4 bg-military bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <!-- bg-overlay to darken -->
    <div class="absolute bg-black/50 w-full h-full z-0"></div>
    <!-- Text -->
    <div
      class="text-white text-center z-10 flex flex-col items-center gap-4 px-5"
    >
      <h1 class="text-5xl font-bold tracking-tight">
        Military/Rotor Transition Training
      </h1>
      <h2 class="text-3xl tracking-wide">
        Transition to civilian flight with Red Arrow
      </h2>
      <a href="/enrollment" target="_blank" class="btn-red">Enroll Today</a>
    </div>
  </header>

  <div class="bg-gradient-to-br py-10 px-5 from-white to-gray-200">
    <div
      class="flex flex-col lg:flex-row max-w-7xl px-5 mx-auto gap-10 items-center"
    >
      <div>
        <div
          class="mt-10 flex flex-col-reverse lg:flex-row items-center gap-10 w-full justify-between"
        >
          <div
            class="flex flex-col lg:max-w-56 gap-5 rounded-xl border-2 border-main-red shadow-gray-500 text-black bg-gradient-to-bl from-gray-200 to-gray-300 p-5"
          >
            <h4 class="font-semibold text-xl text-center">
              Flight Program Application
            </h4>
            <p class="text-center">
              If you are interested in enrolling in one of our flight programs,
              please download and fill out this application. You may bring it in
              to our office or email it to us at <a
                href="mailto:info@flyredarrow.com"
                class="underline hover:text-blue-500"
              >
                info@flyredarrow.com
              </a>
            </p>
            <a
              href="/files/red-arrow-us-application.pdf"
              download="red-arrow-us-application.pdf"
              class="btn-red self-center">Download</a
            >
          </div>
          <div class="tracking-wider flex flex-col items-center gap-5">
            <p>
              Red Arrow Flight Academy extends a warm welcome to military and
              civilian helicopter pilots interested in our specialized
              Military/Rotor Transition Program. Whether you're a military
              aviator seeking to expand your skill set or a civilian helicopter
              pilot looking to transition to fixed-wing aircraft, our program is
              tailored to meet your needs. Our add-on training options include
              Private Pilot, Instrument Rating, and Commercial Pilot
              certifications.
            </p>
            <ul>
              <li>
                <strong>Post 9-11 GI Bill® Accepted:</strong> Red Arrow is proud
                to be selected by the VA to participate in the GI Bill® program,
                offering financial assistance for eligible military students. This
                includes coverage for Instrument, Commercial, and CFI ratings. The
                GI Bill® does not cover the Private Pilot Certificate.
              </li>
              <li>
                <strong>Army Credentialing Assistance:</strong> Through Credentialing
                Assistance offered by the Army and Air Force, military students can
                receive financial support for aviation education with funds ranging
                from $1,000 to $4,000 annually.
              </li>
            </ul>
            <p>
              We proudly serve our Ft. Bliss stationed soldiers, National Guard,
              Active, Reserve units, and those on mission nearby. Contact us
              today to access your funds and begin your aviation journey!
            </p>
          </div>
        </div>
        <div
          class="mt-10 grid grid-cols-4 max-w-4xl mx-auto border-t border-l border-black text-xs text-center sm:text-sm lg:text-base"
        >
          <p
            class="py-1 bg-gray-600 text-white flex items-center justify-center border-r border-b border-black font-semibold"
          >
            Training
          </p>
          <p
            class="py-1 bg-gray-600 text-white flex items-center justify-center border-r border-b border-black font-semibold"
          >
            Private Add-on (hours)
          </p>
          <p
            class="py-1 bg-gray-600 text-white flex items-center justify-center border-r border-b border-black font-semibold"
          >
            Instrument Add-on (hours)
          </p>
          <p
            class="py-1 bg-gray-600 text-white flex items-center justify-center border-r border-b border-black font-semibold"
          >
            Commercial Add-on (hours)
          </p>
          <p
            class="py-1 flex items-center justify-center border-r border-b border-black"
          >
            Ground Training
          </p>
          <p
            class="py-1 flex items-center justify-center border-r border-b border-black"
          >
            7.5
          </p>
          <p
            class="py-1 flex items-center justify-center border-r border-b border-black"
          >
            3
          </p>
          <p
            class="py-1 flex items-center justify-center border-r border-b border-black"
          >
            3
          </p>
          <p
            class="py-1 bg-gray-300 flex items-center justify-center border-r border-b border-black"
          >
            Dual Flight Training
          </p>
          <p
            class="py-1 bg-gray-300 flex items-center justify-center border-r border-b border-black"
          >
            12.4
          </p>
          <p
            class="py-1 bg-gray-300 flex items-center justify-center border-r border-b border-black"
          >
            15
          </p>
          <p
            class="py-1 bg-gray-300 flex items-center justify-center border-r border-b border-black"
          >
            20
          </p>
          <p
            class="py-1 flex items-center justify-center border-r border-b border-black"
          >
            Solo Flight
          </p>
          <p
            class="py-1 flex items-center justify-center border-r border-b border-black"
          >
            10
          </p>
          <p
            class="py-1 flex items-center justify-center border-r border-b border-black"
          >
            10
          </p>
          <p
            class="py-1 flex items-center justify-center border-r border-b border-black"
          >
            30
          </p>
          <p
            class="py-1 bg-gray-300 flex items-center justify-center border-r border-b border-black"
          >
            Check Ride
          </p>
          <p
            class="py-1 bg-gray-300 flex items-center justify-center border-r border-b border-black"
          >
            1
          </p>
          <p
            class="py-1 bg-gray-300 flex items-center justify-center border-r border-b border-black"
          >
            1
          </p>
          <p
            class="py-1 bg-gray-300 flex items-center justify-center border-r border-b border-black"
          >
            1
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Call to Action Banner -->
  <ScheduleCallCTA />

  <!-- Contact Us Form -->
  <ContactUs />
</BaseLayout>
