---
import DiscoveryFlightCTA from "../../components/DiscoveryFlightCTA.astro";
import ContactUs from "../../components/ContactUs.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import TrainingCourseList from "../../components/TrainingCourseList.jsx";
---

<BaseLayout
  pageTitle="Training Courses | Red Arrow Flight Academy"
  pageDescription="Explore a comprehensive range of pilot training courses at Red Arrow Flight Academy. From Private Pilot License (PPL) to Airline and Military programs, discover the perfect training path for your aviation goals. Flexible and accelerated options are available. Train with us and elevate your flight career."
  pageKeywords="pilot training courses, aviation training programs, flight academy programs, PPL courses, Airline pilot training, Military pilot programs, accelerated pilot training, flexible pilot training, flight school courses, certified flight instructor, aviation career paths"
>
  <header
    class="relative h-screen-3/4 bg-training-courses bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <div class="absolute bg-black/60 w-full h-full z-0"></div>

    <div
      class="text-white text-center z-10 flex flex-col items-center gap-4 px-5"
    >
      <h1 class="text-5xl font-bold tracking-tighter">
        Our Pilot Training Courses
      </h1>
      <h2 class="text-3xl tracking-wide">
        From PPL to advanced training, you’ll find it here with Red Arrow Flight
        Academy
      </h2>
      <a href="/enrollment" target="_blank"
        ><button class="btn-red">Train with Us</button></a
      >
    </div>
  </header>

  <section
    class="flex flex-col items-center bg-gradient-to-br from-white to-gray-200 p-5 lg:p-10"
  >
    <h2 class="text-3xl font-semibold text-center tracking-tight">
      Pilot Training Program Structure
    </h2>
    <h3 class="pt-10 text-xl text-center">
      We offer both accelerated and flexible training programs to fit your
      schedule and goals.
    </h3>
    <div
      class="flex flex-col lg:flex-row gap-16 max-w-7xl lg:my-12 items-center lg:items-stretch"
    >
      <div class="lg:shadow-xl shadow-gray-400 py-10 px-5 lg:px-14 lg:bg-white">
        <h4 class="text-2xl font-semibold p-5 pt-0 text-center uppercase">
          Accelerated Track
        </h4>
        <ul class="list-disc flex flex-col gap-5">
          <li>
            <p class="font-medium text-xl pb-1">Full-Time Commitment</p>
            <p>
              Ready to dedicate your days to becoming a pilot in the most
              cost-and-time-efficient way possible? This program is designed for
              you. Join us daily for immersive training sessions and accelerate
              your path.
            </p>
          </li>
          <li>
            <p class="font-medium text-xl pb-1">Frequent Flying</p>
            <p>
              We encourage you to take to the skies as often as possible 4-6
              days a week on this accelerated learning path – weather and
              maintenance permitting.
            </p>
          </li>
          <li>
            <p class="font-medium text-xl pb-1">Rapid Progress</p>
            <p>
              With the required hours of airtime commitment, some students have
              completed private pilot training in as little as 8 weeks – weather
              and maintenance permitting.
            </p>
          </li>
          <li>
            <p class="font-medium text-xl pb-1">Immersive and Intense</p>
            <p>
              Pilot training demands serious dedication to studying and
              practicing. But with our top-tier training courses and experienced
              CFIs guiding you every step of the way, you'll delve deep into the
              world of flight. While the commitment is significant, the rewards
              are always worth it in the end.
            </p>
          </li>
        </ul>
      </div>
      <div
        class="lg:shadow-xl shadow-gray-400 pb-10 lg:py-10 px-5 lg:px-14 lg:bg-white"
      >
        <h4 class="text-2xl font-semibold p-5 pt-0 text-center uppercase">
          Flexible Track
        </h4>
        <ul class="list-disc flex flex-col gap-5">
          <li>
            <p class="font-medium text-xl pb-1">Part-Time Commitment</p>
            <p>
              For students with busy schedules, our program offers flexibility
              to suit your needs.
            </p>
          </li>
          <li>
            <p class="font-medium text-xl pb-1">Fly at Your Pace</p>
            <p>
              Choose to fly 1 to 3 times a week and take breaks as needed. If
              scheduling becomes challenging, we'll work with you to accommodate
              your personal and professional commitments while ensuring you
              receive valuable training from our flight school whether that’s
              training in the evenings or on the weekends.
            </p>
          </li>
          <li>
            <p class="font-medium text-xl pb-1">Extended Timeline</p>
            <p>
              The more you fly, the faster you progress through your training.
              While training courses have minimum practice hour requirements,
              flying less frequently may lengthen the time to completion.
              Students have completed private pilot training within 2 to 18
              months under this flexible approach.
            </p>
          </li>
          <li>
            <p class="font-medium text-xl pb-1">Reduced Intensity</p>
            <p>
              Our flexible learning option allows you to take the time you need
              to grasp and refine your skills. While less intense, this approach
              may extend the duration of pilot training compared to our
              accelerated programs.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section
    class="flex flex-col items-center bg-gradient-to-br from-main-red to-red-900 text-white p-10"
  >
    <h2 class="text-3xl font-semibold text-center tracking-tight">
      Our Training Courses
    </h2>

    <TrainingCourseList client:visible />

    <div
      class="flex flex-col lg:max-w-2xl gap-5 rounded-xl border-2 border-black shadow-gray-500 text-black bg-gradient-to-bl from-gray-200 to-gray-300 p-5"
    >
      <h4 class="font-semibold text-xl text-center">
        Flight Program Application
      </h4>
      <p class="text-center">
        If you are interested in enrolling in one of our flight programs, please
        download and fill out this application. You may bring it in to our
        office or email it to us at <a
          href="mailto:info@flyredarrow.com"
          class="underline hover:text-blue-500"
        >
          info@flyredarrow.com
        </a>
      </p>
      <a
        href="/files/red-arrow-us-application.pdf"
        download="red-arrow-us-application.pdf"
        class="btn-black self-center">Download</a
      >
    </div>
  </section>

  <DiscoveryFlightCTA />

  <ContactUs />
</BaseLayout>
