---
import DiscoveryFlightCTA from "../../components/DiscoveryFlightCTA.astro";
import ContactUs from "../../components/ContactUs.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import TrainingProgramImage from "../../../public/img/training-program.jpg";
import DiscoveryFlightImage from "../../../public/img/discovery-flight.webp";
import MilitaryProgramImage from "../../../public/img/military-program.png";
import InternationalProgramImage from "../../../public/img/international-program.webp";
---

<BaseLayout>
  <!-- Header -->
  <header
    class="relative h-screen-3/4 bg-training-courses bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <!-- bg-overlay to darken -->
    <div class="absolute bg-black/50 w-full h-full z-0"></div>
    <!-- Text -->
    <div class="text-white text-center z-10">
      <h1 class="text-5xl font-bold tracking-tighter">
        Our Pilot Training Courses
      </h1>
      <h2 class="text-3xl pt-5 tracking-wide">
        From PPL to Airline to Military, you’ll find it here with Red Arrow
        Flight Academy
      </h2>
      <button class="mt-5 btn-red">Train with Us</button>
    </div>
  </header>

  <!-- Section 1 -->
  <section
    class="flex flex-col items-center bg-gradient-to-br from-white to-gray-200 py-10"
  >
    <h2 class="text-3xl font-semibold text-center tracking-tight">
      Pilot Training Program Structure
    </h2>
    <h3 class="pt-10 text-xl italic">
      We offer both accelerated and flexible training programs to fit your
      schedule and goals.
    </h3>
    <div class="flex gap-28 max-w-screen-lg my-12">
      <div class="shadow-xl shadow-gray-400 py-10 px-16 bg-white">
        <h4 class="text-2xl font-semibold p-5 text-center uppercase">
          Accelerated Track
        </h4>
        <ul class="list-disc flex flex-col gap-5">
          <li>
            <p class="font-medium text-xl pb-1">Full Time</p>
            <p>
              Are you ready to commit your days to becoming a pilot in the most
              efficient way possible? This is the program for you then. Join us
              daily for training sessions and learn to be a pilot fast.
            </p>
          </li>
          <li>
            <p class="font-medium text-xl pb-1">Fly Often</p>
            <p>
              We would like you to fly as often as we can get a plane in the air
              on this accelerated learning path–weather and maintenance
              permitting.
            </p>
          </li>
          <li>
            <p class="font-medium text-xl pb-1">Move Quickly</p>
            <p>
              If you can commit the required amount of hours to airtime, we’ve
              had students complete training in as little as 8 weeks. Depending
              on weather conditions, we cannot guarantee this, but we can
              certainly move as quickly as possible to get you into the air.
            </p>
          </li>
          <li>
            <p class="font-medium text-xl pb-1">Intense, but Rewarding</p>
            <p>
              Pilot training isn’t easy; it takes serious commitment to study
              and practice. That’s not to say it's out of reach for anyone
              considering training. Our best-in-class training courses and CFIs
              will take you under their wings as you delve deep into the world
              of flight. The commitment is a strong one, but always rewarding in
              the end.
            </p>
          </li>
        </ul>
      </div>
      <div class="shadow-xl shadow-gray-400 py-10 px-16 bg-white">
        <h4 class="text-2xl font-semibold p-5 text-center uppercase">
          Flexible Learning
        </h4>
        <ul class="list-disc flex flex-col gap-5">
          <li>
            <p class="font-medium text-xl pb-1">Flexible Hours</p>
            <p>
              We don’t expect pilot training to dominate all of our students’
              days. If you’re not able to fly every day, we still have a program
              that is as flexible as you want to make it.
            </p>
          </li>
          <li>
            <p class="font-medium text-xl pb-1">Fly When You Can</p>
            <p>
              Fly 1 to 3 times a week and take breaks as necessary. If
              scheduling becomes an issue even then, we would be happy to
              accommodate your personal and professional responsibilities to
              ensure you’re still evoking valuable training from our flight
              school.
            </p>
          </li>
          <li>
            <p class="font-medium text-xl pb-1">Longer Road to Completion</p>
            <p>
              The rule of thumb is the more you fly, the quicker you complete
              your training. All training courses require a minimum number of
              hours of practice, so if you don’t fly as often, it may take
              longer to complete. That being said, we’ve had students complete
              training from anywhere between 2 and 18 months.
            </p>
          </li>
          <li>
            <p class="font-medium text-xl pb-1">Less Intense</p>
            <p>
              The flexible learning route enables you to take however much time
              is necessary to digest and practice your skills. While less
              intense, this is also what may extend pilot training duration past
              those in our accelerated programs.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <button class="btn-red px-12">Start Now</button>
  </section>

  <!-- Section 2 -->
  <section
    class="flex flex-col-reverse items-center lg:flex-row-reverse bg-gradient-to-br from-main-red to-red-900 text-white"
  >
    <div class="lg:w-1/2 flex flex-col items-center py-10">
      <img
        src={DiscoveryFlightImage.src}
        alt="CFI and student pilot in front of a Cessna 172 at the Dona Ana County International Jetport (KDNA)"
        class="mr-10"
      />
    </div>
    <div class="lg:w-1/2 flex flex-col items-center py-10">
      <div class="max-w-2xl px-10">
        <h2 class="text-3xl font-semibold text-center tracking-tight">
          How to Become a Pilot
        </h2>
        <h3 class="pt-10 text-xl italic">It’s as easy as 1-2-3!</h3>
        <div class="text-gray-100 tracking-wider">
          <p class="pt-10">
            Embark on the exciting journey to becoming a pilot with Red Arrow
            Flight Academy by following these structured steps:
          </p>
          <ol class="pt-10 list-decimal pl-10 flex flex-col gap-2">
            <li>
              <span class="font-semibold">Register Your Interest:</span> Enroll in
              Red Arrow's Private Pilot Program to receive comprehensive knowledge
              and hands-on experience guided by seasoned instructors.
            </li>
            <li>
              <span class="font-semibold">Learn the Ins-and-Outs:</span> Immerse
              yourself in hands-on flight training and Red Arrow's tailored ground
              school education, gaining expertise in navigation, weather patterns,
              and regulations.
            </li>
            <li>
              <span class="font-semibold">Take Flight:</span> Successfully complete
              the FAA written exam, a practical flight test with a Red Arrow instructor,
              and receive your Private Pilot License. This achievement marks the
              beginning of further advancements in your aviation evolution.
            </li>
          </ol>
          <p class="pt-10">
            By taking a structured approach to pilot training, you’ll soon be up
            in the air on your own, able to reach further than ever before.
          </p>
        </div>
        <a href="/discovery-flight" class="">
          <div class="btn-black my-10">Book a Discovery Flight</div>
        </a>
      </div>
    </div>
  </section>

  <!-- Section 3 -->
  <section
    class="flex flex-col-reverse items-center lg:flex-row bg-gradient-to-br from-white to-gray-200"
  >
    <div class="lg:w-1/2 flex flex-col items-center py-10">
      <img
        src={MilitaryProgramImage.src}
        alt="Fleet of Sikorsky CH-53K King Stallion helicopters over KDNA at Red Arrow Flight Academy"
        class="h-[500px]"
      />
    </div>
    <div class="lg:w-1/2 flex flex-col items-center py-10">
      <div class="max-w-2xl px-10">
        <h2 class="text-3xl font-semibold text-center tracking-tight">
          Our Military Programs
        </h2>
        <h3 class="pt-10 text-xl italic">
          As the only Part 141-certified flight school in the region, we
          specialize in providing military programs for our students.
        </h3>
        <div class="text-gray-800 tracking-wider">
          <p class="pt-10">
            At Red Arrow Flight Academy, we have the advantage of being the sole
            Part 141 flight school around, allowing us to offer unparalleled
            specialized military programs and benefits to our students. Whether
            you're transitioning from military service to aviation or seeking
            additional certifications, our programs are designed to cater to
            your unique needs.
          </p>
          <p class="pt-10">Our specialized military programs include:</p>
          <ul class="pt-10 list-disc pl-10 flex flex-col gap-2">
            <li>
              Military/Rotor Transition Programs: Tailored for individuals
              adding aviation qualifications to their military experience, these
              programs facilitate a seamless transition to civilian flight
              training.
            </li>
            <li>
              GI Bill Approved: Red Arrow proudly supports our military students
              by being GI Bill Approved, offering financial assistance to those
              eligible for educational benefits.
            </li>
            <li>
              COOL Program (Open to Army/Air Force): Credentialing Assistance
              under the COOL Program provides financial support for education,
              empowering military students to pursue their aviation aspirations
              with grants ranging from $1,000 to $4,000 annually.
            </li>
          </ul>
          <p class="pt-10">Explore the options and learn more below.</p>
        </div>
        <a href="flight-programs/military-rotor-transition" class="">
          <div class="btn-red my-10">Our Military Programs</div>
        </a>
      </div>
    </div>
  </section>

  <!-- Section 4 -->
  <section
    class="flex flex-col-reverse items-center lg:flex-row-reverse bg-gradient-to-br from-main-red to-red-900 text-white"
  >
    <div class="lg:w-1/2 flex flex-col items-center py-10">
      <img
        src={InternationalProgramImage.src}
        alt="Propeller plane flying above the El Paso mountains"
        class="h-[500px]"
      />
    </div>
    <div class="lg:w-1/2 flex flex-col items-center py-10">
      <div class="max-w-2xl px-10">
        <h2 class="text-3xl font-semibold text-center tracking-tight">
          International Students
        </h2>
        <h3 class="pt-10 text-xl italic">
          For international students and foreign pilot licenses.
        </h3>
        <div class="text-gray-100 tracking-wider">
          <p class="pt-10">
            Red Arrow Flight Academy warmly welcomes international students too.
            Our International Program is thoughtfully crafted to provide a
            seamless experience for pilots from around the world.
          </p>
          <p class="pt-10">
            Just as with our domestic program, we offer a range of comprehensive
            training programs, including Private Pilot, Instrument Rating, and
            Commercial Pilot certifications. Our expert instructors,
            state-of-the-art fleet, and proven training methodologies ensure
            that international students receive top-notch education, preparing
            them for success in flying. Additionally, for those with existing
            pilot licenses, our streamlined process for converting foreign
            licenses to FAA certifications opens the door to further career
            opportunities in the United States.
          </p>
          <p class="pt-10">
            At Red Arrow, we understand the unique needs of international
            students. Our M-1 Visa and training request procedures have been
            designed to facilitate a smooth transition, allowing students to
            focus on their training without unnecessary bureaucratic hurdles.
            Join us at Red Arrow Flight Academy and start your journey to
            becoming a pilot, no matter where you’re from.
          </p>
        </div>
        <a href="">
          <div class="btn-black my-10">Explore the International Program</div>
        </a>
      </div>
    </div>
  </section>

  <!-- Section 5 -->
  <section
    class="flex flex-col-reverse items-center lg:flex-row bg-gradient-to-br from-white to-gray-200"
  >
    <div class="lg:w-1/2 flex flex-col items-center py-10">
      <img
        src=""
        alt="The Red Arrow Academy Team at Dona Ana County International Jetport (KDNA)"
        class="h-[500px]"
      />
    </div>
    <div class="lg:w-1/2 flex flex-col items-center py-10">
      <div class="max-w-2xl px-10">
        <h2 class="text-3xl font-semibold text-center tracking-tight">
          We Are Red Arrow Flight Academy
        </h2>
        <h3 class="pt-10 text-xl italic">
          Come get to know our elite team of CFIs and staff.
        </h3>
        <div class="text-gray-800 tracking-wider">
          <p class="pt-10">
            At Red Arrow Flight Academy, our commitment to excellence is not
            just a statement—it's the essence of our training philosophy. As a
            center for aviation training, we take pride in our global
            partnerships while remaining deeply to our locales of El Paso, Santa
            Teresa, Las Cruces, and surrounding areas.
          </p>
          <p class="pt-10">
            Our strategic alliances, including the collaboration with Purdue
            Global University, bring world-class education to aspiring pilots
            locally. This global perspective is seamlessly integrated into our
            international programs, where students from the region join a
            diverse cohort, fostering a rich learning environment. We even offer
            M-1 Visas for our international students.
          </p>
          <p class="pt-10">
            For local heroes transitioning from military service, our structured
            military programs offer a supportive and tailored approach to
            civilian aviation success. Red Arrow Flight Academy understands the
            unique skills and experiences military personnel bring to the table.
            Our programs acknowledge this background, easing the transition and
            ensuring a comprehensive training experience that aligns with their
            career aspirations.
          </p>
          <p class="pt-10">
            Guiding our local students through Part 61 programs is our team of
            highly qualified instructors, including a Designated Pilot Examiner
            (DPE). This ensures the highest standards in pilot training,
            proficiency, and successful outcomes.
          </p>
          <p class="pt-10">
            Beyond the cockpit, our dedication to continuous learning is
            reflected in our extracurricular "Learning Lesson" sessions,
            fostering local connections with other flight enthusiasts. Join us
            to experience the Red Arrow difference in your training today.
          </p>
        </div>
        <a href="" class="max-w-min">
          <div class="btn-red my-10">Why Red Arrow?</div>
        </a>
      </div>
    </div>
  </section>

  <!-- Call to Action Banner -->
  <DiscoveryFlightCTA />

  <!-- Contact Us Form -->
  <ContactUs />
</BaseLayout>
