---
import BlogLayout from "../layouts/BlogLayout.astro";
---

<BlogLayout pageTitle="500 Server Error | Red Arrow Flight Academy">
  <main
    class="bg-gray-100 w-full flex flex-col items-center justify-center py-24 px-5"
  >
    <!--Container for contents-->
    <div class="text-center lg:w-3/5 md:w-4/5">
      <h1 class="font-bold text-4xl py-10">Oops, something went wrong.</h1>

      <!--Container for check-->
      <div class="flex flex-row justify-center">
        <!--circle of check-->
        <svg class="size-20 text-main-red mx-auto" viewBox="0 0 32 32"
          ><path
            fill="currentColor"
            d="M16 2C8.2 2 2 8.2 2 16s6.2 14 14 14s14-6.2 14-14S23.8 2 16 2m5.4 21L16 17.6L10.6 23L9 21.4l5.4-5.4L9 10.6L10.6 9l5.4 5.4L21.4 9l1.6 1.6l-5.4 5.4l5.4 5.4z"
          ></path></svg
        >
      </div>

      <p class="px-5 pt-12">
        Try refreshing the page or come back later. We apologize for the
        inconvenience.
      </p>

      <div class="pt-10 flex flex-row justify-center">
        <a href="/">
          <div class="btn-red mb-10 w-52">HOME</div>
        </a>
      </div>
    </div>
  </main>
</BlogLayout>
