---
import StudentLayout from "../layouts/StudentLayout.astro";
---

<StudentLayout pageTitle="Dashboard">
  <div id="content"></div>
  <form action="/api/auth/signout">
    <button id="signout-button" type="submit">Sign out</button>
  </form>

  <form id="file-upload">
    <input type="file" name="file" />
    <input type="text" name="name" placeholder="Name of file" />
    <button type="submit">Upload</button>
  </form>

  <div id="all-files"></div>
</StudentLayout>

<script>
  import { getAuth } from "firebase/auth";
  import { app, storageRef } from "../firebase/client";
  import { uploadBytes, ref, listAll, getDownloadURL } from "firebase/storage";

  const auth = getAuth(app);

  const setupDashboard = (user) => {
    const content = document.getElementById("content") as HTMLDivElement;
    content.innerHTML = `
      <h1>Welcome ${user.displayName}</h1>
      <p>We are happy to see you here</p>
    `;
  };

  auth.onAuthStateChanged((user) => {
    if (user) {
      setupDashboard(user);
    } else {
      window.location.href = "/signin";
    }
  });

  const signoutButton = document.getElementById(
    "signout-button",
  ) as HTMLButtonElement;
  signoutButton.addEventListener("click", (e) => {
    e.preventDefault();
    auth.signOut().then(() => {
      window.location.href = "/signin";
    });
  });

  const fileUploadForm = document.getElementById(
    "file-upload",
  ) as HTMLFormElement;
  fileUploadForm.addEventListener("submit", (e) => {
    e.preventDefault();
    const file = fileUploadForm.file.files[0];
    const name = fileUploadForm.name.value;
    const fileRef = ref(storageRef, name);
    uploadBytes(fileRef, file).then((snapshot) => {
      console.log("Uploaded a blob or file!", snapshot);
    });
  });

  const allFiles = document.getElementById("all-files") as HTMLDivElement;
  listAll(storageRef).then((res) => {
    res.items.forEach((itemRef) => {
      getDownloadURL(itemRef).then((url) => {
        const link = document.createElement("a");
        link.rel = "noopener";
        link.target = "_blank";
        link.href = url;
        link.textContent = itemRef.name;
        allFiles.appendChild(link);
      });
    });
  });
</script>
