---
import HomeLayout from '../layouts/HomeLayout.astro';
import EnrollmentForm from '../components/EnrollmentForm.astro';
---

  <h1 class="text-3xl">This is a form page</h1>
  <div class="grid place-items-center">
    <EnrollmentForm />
  </div>