---
import FooterHome from '../components/FooterHome.astro';
import EnrollmentForm from '../components/EnrollmentForm.astro';
---



  
  <div class="grid place-items-center py-10 h-screen bg-gradient-to-br from-black to-red-950 text-white">
    <header class="grid place-items-center">
      <h1 class="text-3xl text-center">Start the enrollment process at <span class="text-red-400">Red Arrow</span></h1>
      <p class="italic text-center pt-5 text-gray-300">Fill out the form below and let's start flying!  A Red Arrow team member will get in touch with you and walk you through the steps to become a pilot.</p>
    </header>
    <div class="bg-white text-black m-5 p-5 max-w-2xl w-full rounded-xl">
      <div class="">
        <EnrollmentForm />
      </div>
    </div>
  </div>

  <FooterHome />