---
import StudentLayout from "../layouts/StudentLayout.astro";
import StudentLogin from "../components/StudentLogin.astro";
---

<StudentLayout pageTitle="Reset Password">
  <StudentLogin>
    <p
      id="reset-password-success"
      class="bg-green-500 text-black hidden rounded-lg absolute whitespace-nowrap -top-20 p-2 text-sm left-1/2 -translate-x-1/2"
    >
      Password reset link sent to your email
    </p>
    <h1 class="text-5xl font-semibold uppercase">Reset Password</h1>

    <form class="flex flex-col p-5 gap-2" id="reset-password-form">
      <label class="font-semibold" for="email">Email</label>
      <input
        class="border border-black p-2 text-black rounded-sm"
        type="email"
        name="email"
        id="email"
        required
      />

      <button type="submit" class="bg-main-red p-3 font-semibold rounded-sm"
        >Request Reset Link</button
      >
      <p class="text-red-600 text-xs max-w-36 mx-auto" id="error-message"></p>
    </form>
    <p>
      Already have an account? <a href="/signin" class="hover:underline"
        >Sign in</a
      >
    </p>
  </StudentLogin>
</StudentLayout>

<script>
  import { getAuth, sendPasswordResetEmail } from "firebase/auth";
  import { app } from "../firebase/client";

  const auth = getAuth(app);
  const resetPasswordSuccess = document.getElementById(
    "reset-password-success",
  ) as HTMLParagraphElement;

  const handleResetPassword = async (event) => {
    event.preventDefault();

    const form = event.target;
    const formData = new FormData(form);
    const email = formData.get("email") as string;

    try {
      await sendPasswordResetEmail(auth, email)
        .then(() => {
          resetPasswordSuccess.classList.remove("hidden");
          setTimeout(() => {
            resetPasswordSuccess.classList.add("hidden");
          }, 4000);
        })
        .catch((error) => {
          const errorMessage = error.message;
          const errorElement = document.getElementById(
            "error-message",
          ) as HTMLParagraphElement;
          errorElement.textContent = errorMessage;
        });
    } catch (error) {
      console.error("Registration failed:", error.message);
    }
  };

  const form = document.getElementById(
    "reset-password-form",
  ) as HTMLFormElement;
  form.addEventListener("submit", handleResetPassword);
</script>
