---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
      <header class="h-screen-3/4 bg-black flex flex-col items-center justify-center">
        <h1>Become a Pilot</h1>
        <h2>Cessna Pilot Center Located in Santa Teresa, NM</h2>
      </header>
		<Footer />
	</body>
</html>