---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
      <header class="relative h-screen-3/4 bg-home bg-cover bg-center bg-black flex flex-col items-center justify-center">
        <!-- bg-overlay to darken -->
        <div class="absolute bg-black/50 w-full h-full"></div>
        <!-- Text -->
        <div class="text-white text-center z-10">
          <h1 class="text-5xl font-bold tracking-wider">Become a Pilot</h1>
          <h2 class="text-3xl pt-5">Cessna Pilot Center Flight School in Santa Teresa, NM</h2>
        </div>
      </header>
		<Footer />
	</body>
</html>