---
import StudentLayout from "../layouts/StudentLayout.astro";
---

<StudentLayout pageTitle="Register">
  <h1>Register</h1>
  <p>Already have an account? <a href="/signin">Sign in</a></p>
  <form
    class="flex flex-col flex-start w-1/5 border border-black p-5"
    id="registration-form"
  >
    <label for="name">Name</label>
    <input class="border border-black" type="text" name="name" id="name" />
    <label for="email">Email</label>
    <input class="border border-black" type="email" name="email" id="email" />
    <label for="password">Password</label>
    <input
      class="border border-black"
      type="password"
      name="password"
      id="password"
    />
    <button type="submit">Register</button>
  </form>
</StudentLayout>

<script>
  import {
    getAuth,
    createUserWithEmailAndPassword,
    updateProfile,
  } from "firebase/auth";
  import { app } from "../firebase/client";
  const auth = getAuth(app);

  auth.onAuthStateChanged((user) => {
    if (user) {
      window.location.href = "/dashboard";
    }
  });

  const handleRegistration = async (event) => {
    event.preventDefault();

    const form = event.target;
    const formData = new FormData(form);
    const email = formData.get("email") as string;
    const password = formData.get("password") as string;
    const name = formData.get("name");

    try {
      const userCredential = await createUserWithEmailAndPassword(
        auth,
        email,
        password,
      );
      await updateProfile(userCredential.user, { displayName: name as string });
      window.location.href = "/dashboard";
    } catch (error) {
      console.error("Registration failed:", error.message);
    }
  };

  const form = document.getElementById("registration-form") as HTMLFormElement;
  form.addEventListener("submit", handleRegistration);
</script>
