---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Register">
  <div class="h-96 w-full bg-main-red"></div>
  <h1>Register</h1>
  <p>Already have an account? <a href="/signin">Sign in</a></p>
  <form
    action="/api/auth/register"
    method="post"
    class="flex flex-col flex-start w-1/5 border border-black p-5"
  >
    <label for="name">Name</label>
    <input class="border border-black" type="text" name="name" id="name" />
    <label for="email" for="email">Email</label>
    <input class="border border-black" type="email" name="email" id="email" />
    <label for="password">Password</label>
    <input
      class="border border-black"
      type="password"
      name="password"
      id="password"
    />
    <button type="submit">Register</button>
  </form>
</BaseLayout>
