---
import ContactUs from "../../components/ContactUs.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="FAA Exam Center | Red Arrow Flight Academy"
  pageDescription="Visit Red Arrow Flight Academy's authorized FAA Exam Center. Conveniently located at Doña Ana Airport (DNA), our secure facility offers a range of authorized FAA written exams. Schedule your test with confidence for a seamless aviation journey."
  pageKeywords="aviation testing, FAA written exams, pilot certification, Red Arrow Flight Academy, aviation education, flight school exams, FAA Exam Center, aviation career, pilot training, Doña Ana Airport"
>
  <!-- Header -->
  <header
    class="relative h-screen-3/4 bg-faa-exam-center bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <!-- bg-overlay to darken -->
    <div class="absolute bg-black/50 w-full h-full z-0"></div>
    <!-- Text -->
    <div
      class="text-white text-center z-10 flex flex-col items-center gap-4 px-5"
    >
      <h1 class="text-5xl font-bold tracking-tight">
        The Red Arrow FAA Testing Center
      </h1>
      <h2 class="text-3xl tracking-wide">
        Take your written exams on-site with us
      </h2>
    </div>
  </header>

  <section
    class="flex flex-col items-center bg-gradient-to-br from-white to-gray-200"
  >
    <div class="max-w-5xl px-10 lg:w-1/2 flex flex-col items-center py-10">
      <h2 class="text-3xl font-semibold text-center tracking-tight">
        About the FAA Testing Center
      </h2>
      <div class="tracking-wider">
        <p class="pt-10">
          At Red Arrow Flight Academy, we prioritize providing a stress-free and
          accessible environment for FAA written tests. Our dedicated FAA
          Testing Center offers a focused and secure space for pilots and
          aspiring aviators to undertake the various written exams you will need
          to take as a student pilot.
        </p>
        <p class="pt-10 font-semibold">
          Why Choose Red Arrow's FAA Testing Center?
        </p>
        <ul class="list-disc pl-5">
          <li>
            Convenient Location: Situated within Red Arrow Flight Academy at
            Doña Ana County International Jetport, our testing center ensures
            easy access for a seamless testing experience.
          </li>
          <li>
            Authorized Exams: We are authorized to administer and proctor a wide
            range of FAA written tests including Aviation Maintenance, Unmanned
            Aircraft General (107)(UAG), as well as the Airman Knowledge exams
            for Private Pilot Airplane (PAR), Instrument Rating Airplane (IRA),
            Commercial Pilot Airplane (CAX), Ground Instructor Basic (BGI),
            Fundamentals of Instructing (FOI), Instructor Airplane (FIA),
            Airline Transport Pilot (135)(ATS), and more.
          </li>
          <li>
            Secure Facility: Our testing center is accessible through a security
            gate, ensuring your safety and the confidentiality of your testing
            experience.
          </li>
        </ul>
        <p class="pt-10 font-semibold">Scheduling Your FAA Test</p>
        <p>
          To schedule your FAA written test at Red Arrow Flight Academy's
          Testing Center, please visit the <a
            href="https://faa.psiexams.com/faa/login"
            rel="noreferrer noopener"
            target="_blank"
            class="underline hover:text-blue-500">PSI True Talent webpage</a
          >. If you have any questions or need additional instructions, feel
          free to contact us directly at (575) 201-6160 or <a
            href="mailto:info@flyredarrow.com"
            class="underline hover:text-blue-500"
          >
            info@flyredarrow.com
          </a>. Our office hours for scheduling are Monday to Sunday, 8:00 AM to
          1:00 PM.
        </p>
      </div>
    </div>
    <a
      class="m-5 btn-red cursor-pointer"
      href="https://faa.psiexams.com/faa/login"
      rel="noopener noreferrer"
      target="_blank">Schedule Now</a
    >
  </section>

  <!-- Contact Us Form -->
  <ContactUs />
</BaseLayout>
