---
import { Icon } from 'astro-icon/components'
---

<div class="h-8 lg:h-10 w-full bg-main-red">
  <div class="mx-auto flex max-w-[80rem] items-center h-full justify-between px-4">
    <div class="flex items-center gap-3">
      <p class="text-white text-lg lg:text-xl font-medium">(575) 201-6160</p>
      <div class="hidden lg:flex gap-2">
        <Icon name="entypo-social:facebook-with-circle" class="text-white text-2xl" />
        <Icon name="entypo-social:instagram-with-circle" class="text-white text-2xl" />
        <Icon name="entypo-social:linkedin-with-circle" class="text-white text-2xl" />
      </div>
    </div>
    <p class="text-white text-md lg:text-lg cursor-pointer">Student Log In</p>
  </div>
</div>
