---
import { Icon } from 'astro-icon/components'
---

<div class="h-10 w-full bg-black">
  <div class="mx-auto flex max-w-[80rem] items-center h-full justify-between px-5">
    <div class="flex items-center gap-3">
      <p class="text-white font-medium">PHONE: (575) 201-6160</p>
      <Icon name="entypo-social:facebook-with-circle" class="text-white text-2xl" />
      <Icon name="entypo-social:instagram-with-circle" class="text-white text-2xl" />
      <Icon name="entypo-social:linkedin-with-circle" class="text-white text-2xl" />
    </div>
    <p class="text-white cursor-pointer">Student Log In</p>
  </div>
</div>
