---

---

<section class="grid place-items-center grid-cols-2 bg-main-red text-white">
  <div class="col-span-2">
    <h2 class="text-center text-3xl font-semibold tracking-tighter uppercase pt-16 pb-5">Contact Us</h2>
    <div class="bg-white w-48 h-1 mb-16"></div>
  </div>

  <!-- Text Section -->
  <div class="">
    <h3>Reach Out to Red Arrow</h3>
    <h4></h4>
  </div>
  <!-- Form Section -->



</section>