---

---

<section class="flex flex-col items-center bg-gradient-to-bl from-gray-800 to-black text-white">
  <div class="lg:w-1/2 flex flex-col items-center py-10">
    <div class="max-w-2xl px-10">
      <h2 class="text-3xl font-semibold text-center tracking-tight">Book a Discovery Flight</h2>
      <h3 class="pt-10 text-xl italic">Sub heading Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum officiis doloribus laborum saepe ipsum libero adipisci possimus quis quaerat dolore aut impedit ea assumenda</h3>
      <div class="text-gray-200 tracking-wider">
        <p class="pt-10">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum pariatur cum velit quaerat provident fugit. At quibusdam eius voluptas earum facilis dolores minus reiciendis nesciunt, porro nemo sequi commodi! Amet.
        </p>
      </div>
    </div>
  </div>
</section>