---

---

<section class="flex flex-col items-center bg-gradient-to-bl from-gray-800 to-black text-white">
  <div class="lg:w-1/2 flex flex-col items-center py-10">
    <div class="max-w-5xl px-10 max-w">
      <h2 class="text-3xl font-semibold text-center tracking-tight">Book a Discovery Flight</h2>
      <h3 class="pt-10 text-xl italic">Schedule with us today to learn more about the pilot training process and see if the world of flight is for you.</h3>
      <div class="text-gray-200 tracking-wider">
        <p class="pt-10">
          Take part in one of our discovery flights, designed to familiarize you with the possibilities of pilot training and an introduction to the intricacies of aviation to see if the prospect of being a pilot resonates with you.
        </p>
        <p class="pt-10">
          As you soar through the Texas skies with a Red Arrow instructor, you’ll get the chance to see our local points-of-interest like the El Paso Mountain Star, the volcanic crater known as the Kilbourne Hole, Downtown El Paso from above, the expansive landscapes of West El Paso, and even the distinctive landmarks like Canutillo High School's blue football field. If you book during the fall, you can also enjoy the seasonal La Union Corn Maze.
        </p>
        <p class="pt-10">
          Come fly with us today and see the world from our perspective.
        </p>
      </div>
      
    </div>
    <a href="" class="">
      <div class="btn-red my-10">
        Book a Flight
      </div>
    </a>
  </div>
</section>
