---
import { Icon } from "astro-icon/components";
---

<section class="py-10 bg-gradient-to-br from-white to-gray-200">
  <div>
    <h2 class="text-center text-3xl font-semibold tracking-tight">
      Certification and Beyond
    </h2>
    <h3 class="py-5 text-xl text-center max-w-2xl mx-auto px-5">
      At Red Arrow, we're committed to guiding you toward a fulfilling career in
      aviation. Beyond earning your Private Pilot License, our training programs
      open doors to diverse and exciting career opportunities.
    </h3>
    <a href="/about/our-story" class="w-fit block mx-auto mb-10">
      <div class="btn-red w-fit">Why Red Arrow?</div>
    </a>
    <ul id="timeline-ul">
      <li style="--accent-color:#af3125">
        <div class="date">Private Pilot Certificate</div>
        <div
          class="shadow-md shadow-gray-400 bg-gradient-to-bl from-gray-200 to-gray-300"
        >
          <div class="title text-xl">Approx. 2-3 Months</div>
          <div class="descr">
            This foundational course covers the basics of flying, navigation,
            and communication, equipping students with the skills needed for
            solo flights and preparing them for advanced certifications.
          </div>
          <div class="p-6 pt-0 flex justify-end">
            <a
              href="/flight-programs/training-courses#training-courses"
              class="text-main-red font-semibold hover:underline flex items-center gap-1"
              ><p>View training</p>
              <Icon name="fluent:arrow-right-12-regular" /></a
            >
          </div>
        </div>
      </li>
      <li style="--accent-color:#af3125">
        <div class="date">Instrument Rating</div>
        <div
          class="shadow-md shadow-gray-400 bg-gradient-to-bl from-gray-200 to-gray-300"
        >
          <div class="title text-xl">Approx. 2-3 Months</div>
          <div class="descr">
            Pilots learn to fly in various weather conditions using only
            instruments, a critical skill for enhancing safety and efficiency in
            flights, especially in adverse weather and low visibility.
          </div>
          <div class="p-6 pt-0 flex justify-end">
            <a
              href="/flight-programs/training-courses#training-courses"
              class="text-main-red font-semibold hover:underline flex items-center gap-1"
              ><p>View training</p>
              <Icon name="fluent:arrow-right-12-regular" /></a
            >
          </div>
        </div>
      </li>
      <li style="--accent-color:#af3125">
        <div class="date">Commercial Certificate</div>
        <div
          class="shadow-md shadow-gray-400 bg-gradient-to-bl from-gray-200 to-gray-300"
        >
          <div class="title text-xl">Approx. 2-3 Months</div>
          <div class="descr">
            Building on the private pilot's license, this certification allows
            pilots to operate aircraft commercially, enhancing skills in complex
            flight operations and expanding employment opportunities in
            aviation.
          </div>
          <div class="p-6 pt-0 flex justify-end">
            <a
              href="/flight-programs/training-courses#training-courses"
              class="text-main-red font-semibold hover:underline flex items-center gap-1"
              ><p>View training</p>
              <Icon name="fluent:arrow-right-12-regular" /></a
            >
          </div>
        </div>
      </li>
      <li style="--accent-color:#af3125">
        <div class="date after:border-2 after:text-main-red">
          Certified Flight Instructor (CFI)
        </div>
        <div
          class="shadow-md shadow-gray-400 bg-gradient-to-bl from-gray-200 to-gray-300"
        >
          <div class="title text-xl">Approx. 2-3 Months</div>
          <div class="descr">
            This certification trains pilots to become educators, focusing on
            teaching methodologies, student assessment, and flight training
            techniques, enabling them to instruct aspiring pilots effectively.
          </div>
          <div class="p-6 pt-0 flex justify-end">
            <a
              href="/flight-programs/training-courses#training-courses"
              class="text-main-red font-semibold hover:underline flex items-center gap-1"
              ><p>View training</p>
              <Icon name="fluent:arrow-right-12-regular" /></a
            >
          </div>
        </div>
      </li>
      <li style="--accent-color:#af3125">
        <div class="date">Certified Flight Instructor Instrument (CFII)</div>
        <div
          class="shadow-md shadow-gray-400 bg-gradient-to-bl from-gray-200 to-gray-300"
        >
          <div class="title text-xl">Approx. 2-3 Months</div>
          <div class="descr">
            Specializing in instrument flying, this certification allows
            instructors to teach navigation using instruments, essential for
            flying in poor weather conditions and advancing flight safety.
          </div>
          <div class="p-6 pt-0 flex justify-end">
            <a
              href="/flight-programs/training-courses#training-courses"
              class="text-main-red font-semibold hover:underline flex items-center gap-1"
              ><p>View training</p>
              <Icon name="fluent:arrow-right-12-regular" /></a
            >
          </div>
        </div>
      </li>

      <li style="--accent-color:#af3125">
        <div class="date">Aviation Specialization</div>
        <div
          class="shadow-md shadow-gray-400 bg-gradient-to-bl from-gray-200 to-gray-300"
        >
          <div class="title text-xl">Time to Completion Varies</div>
          <div class="descr">
            Pilots can pursue specialized training in areas like aerobatics,
            agricultural aviation, or airline transport, tailored to their
            career goals and interests, further refining their expertise.
          </div>
        </div>
      </li>
      <li style="--accent-color:#af3125">
        <div class="date">Charter Pilot</div>
        <div
          class="shadow-md shadow-gray-400 bg-gradient-to-bl from-gray-200 to-gray-300"
        >
          <div class="title text-xl">Time to Completion Varies</div>
          <div class="descr">
            Training focuses on operating non-scheduled flights, offering
            flexibility and requiring strong decision-making skills to manage
            varied flight operations, from short local trips to international
            charters.
          </div>
        </div>
      </li>
      <li style="--accent-color:#af3125">
        <div class="date">Airline Pilot</div>
        <div
          class="shadow-md shadow-gray-400 bg-gradient-to-bl from-gray-200 to-gray-300"
        >
          <div class="title text-xl">Time to Completion Varies</div>
          <div class="descr">
            This ultimate certification level involves rigorous training for
            flying large commercial aircraft, emphasizing advanced navigation,
            safety procedures, and crew management, leading to a career in major
            airlines.
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="px-5">
    <div
      class="flex mt-20 flex-col lg:max-w-2xl mx-auto gap-5 m-5 rounded-xl border-2 border-main-red shadow-gray-500 text-black bg-gradient-to-bl from-gray-200 to-gray-300 p-5"
    >
      <h4 class="font-semibold text-xl text-center">
        Flight Program Application
      </h4>
      <p class="text-center">
        If you are interested in enrolling in one of our flight programs, please
        download and fill out this application. You may bring it in to our
        office or email it to us at{" "}
        <a
          href="mailto:info@flyredarrow.com"
          class="text-blue-600 hover:underline hover:text-blue-800"
        >
          info@flyredarrow.com
        </a>
      </p>
      <a
        href="/files/red-arrow-us-application.pdf"
        download="red-arrow-us-application.pdf"
        class="btn-red self-center"
      >
        Download
      </a>
    </div>
  </div>
</section>

<style>
  #timeline-ul {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
  }

  /* line */
  #timeline-ul::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: rgb(225, 225, 225);
    border-radius: calc(var(--line-w) / 2);
  }

  /* columns*/

  /* row gaps */
  #timeline-ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
  }

  /* card */
  #timeline-ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
  }

  /* date */
  #timeline-ul li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);

    text-align: center;
    background-color: var(--accent-color);

    color: white;
    font-size: 1.25rem;
    font-weight: 700;

    display: grid;
    place-content: center;
    position: relative;

    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
  }

  /* date flap */
  #timeline-ul li .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;

    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
  }

  /* circle */
  #timeline-ul li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--bgColor);
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;

    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }

  /* title descr */
  #timeline-ul li .title,
  #timeline-ul li .descr {
    background: var(--bgColor);
    position: relative;
    padding-inline: 1.5rem;
  }
  #timeline-ul li .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: 500;
  }
  #timeline-ul li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
  }

  /* shadows */
  #timeline-ul li .title::before,
  #timeline-ul li .descr::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
  }
  #timeline-ul li .title::before {
    bottom: calc(100% + 0.125rem);
  }

  #timeline-ul li .descr::before {
    z-index: -1;
    bottom: 0.25rem;
  }

  @media (min-width: 40rem) {
    #timeline-ul {
      grid-template-columns: 1fr var(--line-w) 1fr;
    }
    #timeline-ul::before {
      grid-column: 2;
    }
    #timeline-ul li:nth-child(odd) {
      grid-column: 1;
    }
    #timeline-ul li:nth-child(even) {
      grid-column: 3;
    }

    /* start second card */
    #timeline-ul li:nth-child(2) {
      grid-row: 2/4;
    }

    #timeline-ul li:nth-child(odd) .date::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      left: 0;
    }

    #timeline-ul li:nth-child(odd) .date::after {
      transform: translate(-50%, -50%);
      left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }
    #timeline-ul li:nth-child(odd) .date {
      border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
    }
  }

  .credits {
    margin-top: 1rem;
    text-align: right;
  }
  .credits a {
    color: var(--color);
  }
</style>
